.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 300px;
  }
  
  .form-group label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .form-group input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #008CBA;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #006B9F;
  }
  